# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# ========== For Visual Studio upload ==========
.vs/
*.vcxproj.user
*.VC.db
*.VC.opendb
*.suo
*.user
*.ipch
*.cache
*.log
*.tlog
*.obj
*.pdb
*.idb
*.opendb
